<div class="hero-unit">
	<h1>Welcome!</h1>
	<p>
		You've found the home page for Jordan's
		<%= link_to "Reddit", "http://www.reddit.com" %> Custom</a>
		application.
	</p>
	<p>
		<%= link_to "TEST RUN!", "#", class:"btn btn-primary btn-large" %>
	</p>
</div>
