<% if user_signed_in? %>
	<h1>You are now logged in!</h1>
	<p>
	<%= link_to "Let's do this!", "#", class:"btn btn-primary btn-large" %>
	</p>
<% else %>
	<div class="hero-unit">
		<h1>Welcome!</h1>
		<p>
			You've found the home page for Jordan's
			<%= link_to "Ruby on Rails", "http://www.rubyonrails.org" %> Custom</a>
			application.
		</p>
		<p>
			<%= link_to "Sign Up!", new_user_registration_path, class:"btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>
